appdirs==1.4.3
autobahn==20.12.3
-e git+ssh://git@github.com/ninetor/gateis_python.git@8dcb96f1e#egg=bitshares
blinker==1.4
certifi==2018.4.16
chardet==3.0.4
click==6.7
configparser==3.5.0
ecdsa==0.13
Events==0.3
Flask==1.0.2
Flask-Cors==3.0.4
Flask-Mail==0.9.1
Flask-Script==2.0.6
Flask-Session==0.3.1
Flask-SQLAlchemy==2.3.2
-e git+ssh://git@github.com/ninetor/gateis_python-graphenelib.git@4e2329cb720#egg=graphenelib
gunicorn==19.8.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pycryptodome==3.6.1
pycryptodomex==3.6.1
pylibscrypt==1.7.1
PyYAML==3.12
requests==2.18.4
scrypt==0.8.6
six==1.11.0
SQLAlchemy==1.2.7
txaio==2.10.0
urllib3==1.22
websocket-client==0.47.0
websockets==4.0.1
Werkzeug==0.14.1
